.NoteDisplay {
  display: block;
  pointer-events: none;

  h3 {
    color: $textColor;
    margin: 0;
    text-align: left;
    padding-bottom: .2em;
  }

  ul {
    text-align: left;
    padding: 0;
    margin: 0;

    li {
      color: $textColor;
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      line-height: 1.2;
      padding-bottom: .1em;

      .checkBox {
        opacity: .1;
        img {
          max-width: 75%;
        }
      }

    }

    li.completed {
      text-decoration: line-through;
    }

  }

}
