.NotesContainer {

  .note-click {
    width: 90%;
    border-radius: 15px;
    background: #ffe680;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 1em;
    display: flex;
    font-family: $font-Abel;
    box-shadow: 4px 6px 6px 3px #00000059;
    position: relative;

    &:before {
      content:"";
      background-image: url('./media/tack.png');
      position: absolute;
      width:100px;
      height: 100px;
      top: .2em;
      right: 3.5em;
      background-repeat: no-repeat;
    }
  }

  .splash-message {
    margin: 100px auto 0;
    color: #ffffff;
    font-size: 80px;
    width: 500px;
    text-shadow: 2px 4px 13px #0000006e;
  }

  .my-masonry-grid {
    display: flex;
    width: auto;
  }

  .my-masonry-grid_column {
    background-clip: padding-box;
  }

}
