.NotesContainer {
  display: flex;
  flex-wrap: wrap;

  a {
    width: 23%;
    min-height: 100px;
    margin: 1%;
    border-radius: 15px;
    border: solid hsl(0, 0%, 88%) 1px;
    background: white;
    text-decoration: none;
    padding: 1em;
    display: flex;
    font-family: $font-Abel;
    box-shadow: 0 0 6px 3px #00000014;
  }

  .splash-message {
    margin: 100px auto 0;
    color: #75757580;
    font-size: 80px;
    width: 500px;
  }

}
