.Header {
  width: 100%;
  padding: 1em 0;

  .Header-Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    max-width: 1400px;
    margin: auto;
  }

  .Logo {
    display: flex;
    align-items: center;
    position: relative;

    h1 {
      color: #fff;
      font-size: 3em;
      margin: 0;
      font-family: $font-Abel;
      font-weight: bold;
      padding-left: .9em;
      padding-top: .1em;
      text-shadow: 2px 4px 13px #0000006e;
    }

    &:before {
      content:"";
      background-image: url('./media/tackRed.png');
      position: absolute;
      width:100px;
      height: 100px;
      top: .2em;
      background-repeat: no-repeat;
    }

  }

  a {
    font-family: "Abel", sans-serif;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 600;
    text-decoration: none;
    background: #6D72C3;
    padding: .2em .7em;
    border-radius: 5px;
    transition: all .2s ease;
    box-shadow: 0px 0px 5px 2px #00000068;

    &:hover {
      background: hsla(0, 0%, 50%, 0.95);
      color: white;
    }
    &:active { opacity: 0.5; }
  }
}

@media screen and (max-width: 500px) {
  .Header-Content {
    flex-direction: column;
  }
  a {
    width: 90%;
    margin-top: 10px;
  }
}