.Header {

  border-bottom: solid 1px #d9dbde;
  background: #f9f9f9;
  box-shadow: 0px 0px 11px 0px #0000002b;
  width: 100%;

  .Header-Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    max-width: 1400px;
    margin: auto;
  }

  .Logo {
    display: flex;
    align-items: center;

    h1 {
      color: hsla(0, 0%, 46%, 50%);
      font-size: 24px;
      font-weight: 500;
      margin-left: 10px;
    }
    img {
      height: 35px;
    }
  }

  a {
    font-family: $font-Abel;
    color: #fff;
    font-size: 1.25em;
    font-weight: 500;
    text-decoration: none;
    background: #0070B7;
    padding: .2em .7em;
    border-radius: 5px;
    transition: all .2s ease;
    box-shadow: 0px 0px 5px 0px #00000068;

    &:hover {
      background: hsla(0, 0%, 50%, 0.35);
      color: white;
    }
    &:focus { opacity: 0.5; }
  }
}
