.Error-Message {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #e5e5e591;
  position: fixed;
  z-index: 4000;
  transition: opacity 0.218s ease-in 0s;

  &::before {
    content: "";
  }
}

.Error-Content {
  position:fixed;
  background: #ffff;
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  height: auto;
  padding: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 2px 10px 3px #0000006b;

  .Note-Close {
    position: absolute;
    right: 0;
    top: 0;

    button {
      outline: none;
      cursor: pointer;
      border: none;
      background: #cccccccc;
      color: #fff;
      font-size: 1.25em;
      border-top-right-radius: 5px;
      transition: all .5s ease;

      &:hover {
        color: #a9a9a9;
      }
    }
  }
}