
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


// FONTS
$font-Lato: 'Lato', sans-serif;


// COLORS
$black: #231f20;
$white: #231f20;



@import './components/Header/Header';
@import './components/Loader/Loader';
@import './containers/App/App';
@import './containers/NotesContainer/NotesContainer';
@import './containers/Note/Note';
@import './containers/List/List';



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
