
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

// FONTS
$font-Lato: 'Lato', sans-serif;
$font-Roboto: 'Roboto', sans-serif;
$font-Abel: 'Abel', sans-serif;
$font-OpenSans: 'Open Sans', sans-serif;

// COLORS
$black: #231f20;
$white: #231f20;
$textColor: #403920;
$baseYellow: #FFE680;


@import './components/Header/Header';
@import './components/Loader/Loader';
@import './components/ListItem/ListItem';
@import './components/NoteOptions/NoteOptions';
@import './components/NoteDisplay/NoteDisplay';
@import './containers/App/App';
@import './containers/NotesContainer/NotesContainer';
@import './containers/NoteForm/NoteForm';
@import './components/ErrorPage/ErrorPage';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./media/bg.jpg');
  background-size: cover;
}

#__lpform_title, #__lpform_title_icon {
  display: none;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}
